<div id="listaInventarioContent" ng-controller="ListaInventarioCtrl">
	<div id="includeMenucontent">
		<div ng-include="'views/inventario/menuInventario.html'" onload="includeCargado()"></div>
	</div>
	
	<div>
		<h1>{{"Inventario IMTA" + title +" - "+Inventarios.length+" Equipos"}}</h1>	
	</div>

  <div>
    <div class="row">
      <div id="filter-panel" class="collapse filter-panel">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="contDiv5">
              <div>
                <div class="input-field col s12 selectpickerResguardante">
                  <select id="selectSoloComputadoras" class="selectpicker"
                  ng-change="soloComputadorasFunction()"
                  data-dropup-auto="false"
                  ng-model="Compu.pc" 
                  ng-options="e.id as e.name for e in options"></select>
                </div>
              </div>
              
              <div>
                <input ng-keyup="currentPage=1" placeholder="Buscar por código" type="text" ng-model="search.id_inventario" style="font-size:13pt;">
              </div>
              <div>
                <input ng-keyup="currentPage=1" placeholder="Buscar por nombre" type="text" ng-model="search.resguardante.nombre" style="font-size:13pt;">
              </div>
              <div>
                <input date-range-picker id="daterange1" style="font-size:13pt;" name="daterange1" min="'1980-01-01'" max="'2020-01-01'" class="form-control date-picker" type="text" placeholder="Buscar por fecha" options="{separator: 'a'}" ng-model="date"  />
              </div>
              <div>
                <div class="input-field col s12 selectpickerResguardante">
                  <button type="button" class="btn btn-primary" ng-click="limpiarFiltros()" >Limpiar filtros</button>
                </div>
              </div>
            </div>
            <div class="contDiv5" ng-show="filterComputadoras">
              <div>
                <input ng-keyup="currentPage=1" placeholder="Buscar por IP" type="text" ng-model="search.computadora.ip" style="font-size:13pt;">
              </div>
              <div>
                <input ng-keyup="currentPage=1" placeholder="Buscar por Mac address" type="text" ng-model="search.computadora.mac_address" style="font-size:13pt;">
              </div>
              <div>
                <input ng-keyup="currentPage=1" placeholder="Buscar por antivirus" type="text" ng-model="search.computadora.antivirus.antivirus" style="font-size:13pt;">
              </div>
              <div>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>    
      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
        <span class="glyphicon glyphicon-cog"></span> Filtro avanzado
      </button>
      <button type="button" class="btn btn-primary" ng-click="exportar(1)" >
          <span class="glyphicon glyphicon-download-alt"></span> Inventario
      </button>
<!--       <button type="button" class="btn btn-primary" ng-click="exportar(2)" >
          <span class="glyphicon glyphicon-download-alt"></span> Inventario Completo
      </button> -->
      <button type="button" class="btn btn-primary" ng-click="exportar(3)" >
          <span class="glyphicon glyphicon-download-alt"></span> Computadoras
      </button>
<!--       <button type="button" class="btn btn-primary" ng-click="exportar(4)" >
          <span class="glyphicon glyphicon-download-alt"></span> Computadoras Completo
      </button> -->
    </div>
  </div>

  <div id="cargandoInventario" ng-show="cargandoInventario">
    <div ng-show="!listaVacia">
      <img src="assets/images/ajax-loader.gif" alt="">
      <div>Cargando Inventario</div>
    </div>
    <div ng-show="listaVacia">
      <div id="listaVaciaTitulo">Lista Vacía</div>
    </div>
  </div>
  <div id="cargandoInventario" ng-show="exportando">
    <div>
      <img src="assets/images/ajax-loader.gif" alt="">
      <div>Exportando Inventario</div>
    </div>
  </div>

  <div id="tablaContent" ng-show="!cargandoInventario && !exportando">
   <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td class="tdCenter">
          <a ng-click="sortType = 'id_inventario'; sortReverse = !sortReverse">
            Inventario
          </a>
        </td>
        <td class="tdCenter">
          <a  ng-click="sortType = 'resguardante.nombre'; sortReverse = !sortReverse">
            Resguardante 
          </a>
        </td>
        <td class="tdCenter">
          <a  ng-click="sortType = 'descripcion'; sortReverse = !sortReverse">
            Equipo 
          </a>
        </td>
        <td class="tdCenter" ng-show="!filterComputadoras">
          <a  ng-click="sortType = 'tipo'; sortReverse = !sortReverse">
            Tipo 
          </a>
        </td>
        <td class="tdCenter">
          <a  ng-click="sortType = 'modelo.tipo_marca_equipo.marca_equipo.marca_equipo'; sortReverse = !sortReverse">
            Marca 
          </a>
        </td>
        <td class="tdCenter">
          <a  ng-click="sortType = 'modelo.modelo_equipo'; sortReverse = !sortReverse">
            Modelo 
          </a>
        </td>
        <td class="tdCenter" ng-show="filterComputadoras">
          <a  ng-click="sortType = 'computadora.ip'; sortReverse = !sortReverse">
            IP 
          </a>
        </td>
        <td class="tdCenter" ng-show="filterComputadoras">
          <a  ng-click="sortType = 'computadora.mac_address'; sortReverse = !sortReverse">
            Mac Adress 
          </a>
        </td>
        <td class="tdCenter" ng-show="filterComputadoras">
          <a  ng-click="sortType = 'computadora.antivirus.antivirus'; sortReverse = !sortReverse">
            Antivirus 
          </a>
        </td>
        <td class="tdCenter">
          <a  ng-click="sortType = 'serie'; sortReverse = !sortReverse">
            Serie 
          </a>
        </td>
        <td class="tdCenter">
          <a  ng-click="sortType = 'activo'; sortReverse = !sortReverse">
            Activo 
          </a>
        </td>
        <td class="tdCenter">
          <a>
            Fecha de alta 
          </a>
        </td>
        <td class="tdCenter">
          <a>
            Firma
          </a>
        </td>
        <td class="tdCenter">
          <a>
            Ver
          </a>
        </td>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="Inventario in Inventarios | orderBy:sortType:sortReverse | filter:search| myfilterDate:date.startDate:date.endDate | startFrom:(currentPage-1)*pageSize | limitTo:pageSize " on-finish-render="ngRepeatFinished">
        <td class="tdCenter tdDatos">{{ Inventario.id_inventario }}</td>
        <td class="tdDatos">{{ Inventario.resguardante.nombre+" "+Inventario.resguardante.apellido_paterno+" "+Inventario.resguardante.apellido_materno }}</td>
        <td class="tdDatos">{{ Inventario.descripcion }}</td>
        <td class="tdDatos" ng-show="!filterComputadoras">{{Inventario.modelo.tipo_marca_equipo.tipo_equipo.tipo_equipo}}</td>
        <td class="tdDatos">{{ Inventario.modelo.tipo_marca_equipo.marca_equipo.marca_equipo }}</td>
        <td class="tdDatos">{{ Inventario.modelo.modelo_equipo }}</td>
        <td class="tdDatos" ng-show="filterComputadoras">{{ Inventario.computadora.ip }}</td>
        <td class="tdDatos" ng-show="filterComputadoras">{{ Inventario.computadora.mac_address }}</td>
        <td class="tdDatos" ng-show="filterComputadoras">{{ Inventario.computadora.antivirus.antivirus }}</td>
        <td class="tdCenter tdDatos">{{ Inventario.serie }}</td>
        <td class="tdCenter tdDatos">{{ (Inventario.activo) ? 'Si' : 'No' }}</td>
        <td class="tdCenter tdDatos">{{ Inventario.fecha_alta }}</td>
        <td class="tdCenter tdDatos">{{ (Inventario.responsiva_firmada) ? 'Si' : 'No' }}</td>
        <td>
          <div class="card-action" style="text-align: center;">
            <a href="#/inventario/{{Inventario.id_inventario}}"><i class="material-icons">search</i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="paginationContent" ng-show="!cargandoInventario">
    <button class="btn waves-effect blue darken-3" ng-disabled="currentPage == 1" ng-click="currentPage=currentPage-1">
      &lt;
    </button>
    {{"Página: "+(currentPage)}}/{{numberOfPages()}}
    <button class="btn waves-effect blue darken-3" ng-disabled="currentPage >= getData().length/pageSize" ng-click="currentPage=currentPage+1">
      &gt;
    </button>
    <select class="selectUsuario" style="width:50px; height:25px;" ng-model="currentPage" ng-options="n for n in [] | range:1:numberOfPages()">
    </select>
  </div>
</div>

</div>
<div id="arriba" class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light blue">
    <i class="large material-icons">trending_flat</i>
  </a>
</div>


<script>
$( document ).ready(function() {

  $('#arriba').click(function(){
    $("html, body").animate({ scrollTop: 0 }, 1000);
  });

  $(window).scroll(function(){
    ($(window).scrollTop() > 300) ? $('#arriba').show() : $('#arriba').hide();  
  });




});
</script>


