<div id="informacionPrincipal">
	<h1>Bienvenido</h1>
	<p id="p1">Bienvenido al Sistema para el Soporte a la Infraestructura de Informática y Telecomunicaciones (SSIIT) en línea del Instituto Mexicano de Tecnología del Agua (IMTA), a través de este sistema usted puede gestionar y atender las solicitudes de servicio a los usuarios del parque informático y de telecomunicaciones.</p>
	<p id="p2">Para la atención de las solicitudes de servicio el IMTA cuenta con una "Mesa de ayuda", punto único para la recepción de las mismas, y su seguimiento desde su recepción hasta su atención satisfactoria, y será a través de la "Mesa de ayuda" que se turnen dichas solicitudes para su atención.</p>
</div>


<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="data1/images/sit5.png" alt="sit5" title="sit5" id="wows1_0"/></li>
		<li><img src="data1/images/sotec.png" alt="sotec" title="sotec" id="wows1_1"/></li>
		<li><img src="data1/images/red.png" alt="red" title="red" id="wows1_2"/></li>
		<li><img src="data1/images/software.png" alt="wowslider.net" title="software" id="wows1_3"/></a></li>
		<li><img src="data1/images/telefonia.png" alt="telefonia" title="telefonia" id="wows1_4"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="sit5"><span><img src="data1/tooltips/sit5.png" alt="sit5"/>1</span></a>
		<a href="#" title="sotec"><span><img src="data1/tooltips/sotec.png" alt="sotec"/>2</span></a>
		<a href="#" title="red"><span><img src="data1/tooltips/red.png" alt="red"/>3</span></a>
		<a href="#" title="software"><span><img src="data1/tooltips/software.png" alt="software"/>4</span></a>
		<a href="#" title="telefonia"><span><img src="data1/tooltips/telefonia.png" alt="telefonia"/>5</span></a>
	</div></div><!-- <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com/vi">slider</a> by WOWSlider.com v8.7</div> -->
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>


<script>
$( document ).ready(function() {
   
	$("#wowslider-container1 > div > div:nth-child(4)").css('z-index', 1);
 
});	
</script>
<!-- End WOWSlider.com BODY section -->