<nav id="navMenuSecundario">
  <div class="nav-wrapper">
    <ul id="nav-menu-administracion" class="left hide-on-med-and-down">
      <li id="usuarios"><a href="#/administracion/usuarios">Usuarios</a></li>
      <li id="empresas"><a href="#/administracion/empresas">Empresas</a></li>
      <li id="ubicaciones"><a href="#/administracion/ubicaciones">Ubicaciones</a></li>
      <li id="clasEquipos"><a href="#/administracion/catEquipos">Clasificación de equipos</a></li>
      <li id="resguardantes"><a href="#/administracion/resguardantes">Resguardantes</a></li>
      <li id="antivirus"><a href="#/administracion/antivirus">Antivirus</a></li>
      <li id="sistemasOperativos"><a href="#/administracion/sistemasOperativos">Sistemas Operativos</a></li>
      <li id="clasServicios"><a href="">Clasificación de servicios</a></li>
    </ul>
  </div>
</nav>